# === API Externa ===
OPENMETEO_BASE_URL=https://api.open-meteo.com/v1

# === Modelo ===
MODEL_PATH=./models/xgboost_model.joblib
MLFLOW_TRACKING_URI=http://localhost:5000

# === App ===
API_BASE_URL=file:./mlruns

# === Segurança (definir em produção) ===
JWT_SECRET_KEY=trocar-em-producao
JWT_ALGORITHM=HS256