# API
fastapi==0.115.*
uvicorn==0.34.*
pydantic==2.*
python-jose[cryptography]==3.3.*
python-multipart==0.0.*

# ML
xgboost==3.*
shap==0.51.*
mlflow==3.*
scikit-learn==1.*

# Dados
pandas==2.*
numpy==2.*
pyarrow==18.*
requests==2.*

# Database
supabase==2.*

# Utilitarios
python-dotenv==1.*

# Testes
pytest==9.*
